<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Poutato</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <!--<script>
            $('.bar').css('background-color', function(){
                var percentage = parseInt($(this).data('size'), 10);
                if (percentage <= 25){
                    return '#a41818'
                }
                else if (percentage <= 50) {
                    return '#87581c';
                }
                else if (percentage <= 75) {
                    return '#997815';
                }
                else if (percentage <= 90) {
                    return '#7ba01c';
                }
                else if (percentage <= 100) {
                    return '#3a8d24';
                }    
            });
        </script>-->
    </head>
    <body style="background-color: #8da9c4;">
        <a class="d-flex text-dark m-2 p-3" href="{{ url_for('main.index') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
        </a>
        <div class="m-3 bg-white p-2 rounded-4 bg-opacity-50 shadow z-0">
            <div class="row">
                <div class="col">
                    <label class="ms-2">Happiness</label>
                    <div class="progress bg ms-2"><div class="progress-bar bar" style="width: 58%;" data-size="58"></div></div>
                </div>
                <div class="col">
                    <label class="me-2">Hunger</label>
                    <div class="progress bg me-2"><div class="progress-bar bar" style="width: 87%;" data-size="87"></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="ms-2">Health</label>
                    <div class="progress bg ms-2"><div class="progress-bar bar" style="width: 20%;" data-size="20"></div></div>
                </div>
                <div class="col">
                    <label class="me-2">Energy</label>
                    <div class="progress bg me-2"><div class="progress-bar bar" style="width: 40%;" data-size="40"></div></div>
                </div>
            </div>
        </div>
        
        <div class="d-flex justify-content-end">
            <div class="d-flex flex-column z-0">
                <div class="me-2 text-center">
                    <button type="button" class="btn m-1 p-3 rounded-4 bg-white shadow" data-bs-toggle="modal" data-bs-target="#store">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                            <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z"/>
                        </svg>
                    </button>
                    <div>Point Store</div>
                </div>

                <div class="me-2 text-center">
                    <button type="button" class="btn m-1 p-3 rounded-4 bg-white shadow" data-bs-toggle="modal" data-bs-target="#inventory">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-backpack2" viewBox="0 0 16 16">
                            <path d="M4.04 7.43a4 4 0 0 1 7.92 0 .5.5 0 1 1-.99.14 3 3 0 0 0-5.94 0 .5.5 0 1 1-.99-.14"/>
                            <path fill-rule="evenodd" d="M4 9.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm1 .5v3h6v-3h-1v.5a.5.5 0 0 1-1 0V10z"/>
                            <path d="M6 2.341V2a2 2 0 1 1 4 0v.341c2.33.824 4 3.047 4 5.659v1.191l1.17.585a1.5 1.5 0 0 1 .83 1.342V13.5a1.5 1.5 0 0 1-1.5 1.5h-1c-.456.607-1.182 1-2 1h-7a2.5 2.5 0 0 1-2-1h-1A1.5 1.5 0 0 1 0 13.5v-2.382a1.5 1.5 0 0 1 .83-1.342L2 9.191V8a6 6 0 0 1 4-5.659M7 2v.083a6 6 0 0 1 2 0V2a1 1 0 0 0-2 0M3 13.5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5V8A5 5 0 0 0 3 8zm-1-3.19-.724.362a.5.5 0 0 0-.276.447V13.5a.5.5 0 0 0 .5.5H2zm12 0V14h.5a.5.5 0 0 0 .5-.5v-2.382a.5.5 0 0 0-.276-.447L14 10.309Z"/>
                        </svg>
                    </button>
                    <div>Inventory</div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="store">
            <div class="modal-dialog m-4 mt-5 bg-opacity-50 modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title display-4">Point Store</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <div class="rounded-pill d-flex align-items-center" style="background-color: #eef4ed;">
                                <div class="rounded-circle bg-warning text-center" style="box-sizing: border-box; width:32px; height:32px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                        <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                                    </svg>
                                </div>
                                <div class="ms-2 me-3 fw-bold">87</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m-2">
                                <div class="item-modal container" style="background-image: url('img/health-potion.png');"></div>
                                <div class="text-center">Health Potion</div>
                                <div class="d-flex justify-content-center">
                                    <div class="rounded-pill d-flex align-items-center" style="background-color: #eef4ed;">
                                        <div class="rounded-circle bg-warning text-center" style="box-sizing: border-box; width:28px; height:28px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                                            </svg>
                                        </div>
                                        <div class="ms-2 me-3">20</div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="m-2 ps-3 pe-3 btn btn-primary rounded-4 text-center" style="background-color: #e89e64">BUY</button>
                                </div>
                            </div>
                            <div class="col m-2">
                                <div class="item-modal container" style="background-image: url('img/energy-potion.png');"></div>
                                <div class="text-center">Energy Potion</div>
                                <div class="d-flex justify-content-center">
                                    <div class="rounded-pill d-flex align-items-center" style="background-color: #eef4ed;">
                                        <div class="rounded-circle bg-warning text-center" style="box-sizing: border-box; width:28px; height:28px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                                            </svg>
                                        </div>
                                        <div class="ms-2 me-3">20</div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="m-2 ps-3 pe-3 btn btn-primary rounded-4 text-center" style="background-color: #e89e64">BUY</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m-2">
                                <div class="item-modal container" style="background-image: url('img/sandwich.png');"></div>
                                <div class="text-center">Sandwich</div>
                                <div class="d-flex justify-content-center">
                                    <div class="rounded-pill d-flex align-items-center" style="background-color: #eef4ed;">
                                        <div class="rounded-circle bg-warning text-center" style="box-sizing: border-box; width:28px; height:28px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                                            </svg>
                                        </div>
                                        <div class="ms-2 me-3">20</div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="m-2 ps-3 pe-3 btn btn-primary rounded-4 text-center" style="background-color: #e89e64">BUY</button>
                                </div>
                            </div>
                            <div class="col m-2">
                                <div class="item-modal container" style="background-image: url('img/cake.jpg');"></div>
                                <div class="text-center">Cake</div>
                                <div class="d-flex justify-content-center">
                                    <div class="rounded-pill d-flex align-items-center" style="background-color: #eef4ed;">
                                        <div class="rounded-circle bg-warning text-center" style="box-sizing: border-box; width:28px; height:28px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                                            </svg>
                                        </div>
                                        <div class="ms-2 me-3">20</div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="m-2 ps-3 pe-3 btn btn-primary rounded-4 text-center" style="background-color: #e89e64">BUY</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="inventory">
            <div class="modal-dialog m-4 mt-5 bg-opacity-50 modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title display-4">Inventory</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col m-2">
                                <div class="item-modal container" style="background-image: url('img/health-potion.png');"></div>
                                <div class="text-center">Health Potion</div>
                                <div class="d-flex justify-content-center">
                                    <div class="rounded-pill d-flex align-items-center" style="background-color: #eef4ed;">
                                        <div class="ms-3 me-3">1</div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="m-2 ps-3 pe-3 btn btn-primary rounded-4 text-center" style="background-color: #e89e64">USE</button>
                                </div>
                            </div>
                            <div class="col m-2">
                                <div class="item-modal container" style="background-image: url('img/energy-potion.png');"></div>
                                <div class="text-center">Energy Potion</div>
                                <div class="d-flex justify-content-center">
                                    <div class="rounded-pill d-flex align-items-center" style="background-color: #eef4ed;">
                                        <div class="ms-3 me-3">1</div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="m-2 ps-3 pe-3 btn btn-primary rounded-4 text-center" style="background-color: #e89e64">USE</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m-2">
                                <div class="item-modal container" style="background-image: url('img/sandwich.png');"></div>
                                <div class="text-center">Sandwich</div>
                                <div class="d-flex justify-content-center">
                                    <div class="rounded-pill d-flex align-items-center" style="background-color: #eef4ed;">
                                        <div class="ms-3 me-3">1</div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="m-2 ps-3 pe-3 btn btn-primary rounded-4 text-center" style="background-color: #e89e64">USE</button>
                                </div>
                            </div>
                            <div class="col m-2">
                                <div class="item-modal container" style="background-image: url('img/cake.jpg');"></div>
                                <div class="text-center">Cake</div>
                                <div class="d-flex justify-content-center">
                                    <div class="rounded-pill d-flex align-items-center" style="background-color: #eef4ed;">
                                        <div class="ms-3 me-3">1</div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="m-2 ps-3 pe-3 btn btn-primary rounded-4 text-center" style="background-color: #e89e64">USE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <img class="w-100 z-n1" onclick="enlargeImg()" src="{{ url_for('static', filename='img/poutato.png') }}" id="poutato" style="margin-top: -125px; scale:(1.0);">
            <script>
                img = document.getElementById("poutato");
                function enlargeImg() {
                    style = window.getComputedStyle(img),
                    scale = style.getPropertyValue('scale');
                    img.style.transform = "scale("+(scale+0.1)+")";
                    img.style.transition = "transform 0.25s ease";
                }
            </script>
        </div>
        <div class="p-5"></div>
        <nav class="navbar p-2 fixed-bottom border-top border-2 d-flex justify-content-center">
            <div class="m-1 me-2">
                <a href=" {{url_for('quiz.index')}} ">
                    <div class="bg-white rounded-4 text-dark p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightbulb" viewBox="0 0 16 16">
                            <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/>
                        </svg>
                    </div>
                    <div class="text-white text-center mt-1">Quiz</div>
                </a>
            </div>
            <div class="m-1 me-2">
                <a href="{{url_for('poutato.index')}}">
                    <div class="bg-white rounded-4 text-dark p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-joystick" viewBox="0 0 16 16">
                            <path d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2"/>
                            <path d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23"/>
                        </svg>
                    </div>
                    <div class="text-white text-center mt-1">Poutato</div>
                </a>
            </div>
            <div class="m-1 me-2">
                <a href="{{ url_for('main.index') }}">
                    <div class="bg-white rounded-4 text-dark p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                        </svg>
                    </div>
                    <div class="text-white text-center mt-1">Home</div>
                </a>
            </div>
            <div class="m-1 me-2">
                <a href="{{ url_for('forum.index') }}">
                    <div class="bg-white rounded-4 text-dark p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-mortarboard" viewBox="0 0 16 16">
                            <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917zM8 8.46 1.758 5.965 8 3.052l6.242 2.913z"/>
                            <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46z"/>
                        </svg>
                    </div>
                    <div class="text-white text-center mt-1">Forum</div>
                </a>
            </div>
            <div class="m-1 me-2">
                <a href=" {{url_for('main.profile')}} ">
                    <div class="bg-white rounded-4 text-dark p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        </svg>
                    </div>
                    <div class="text-white text-center mt-1">Profile</div>
                </a>
            </div>
        </nav>
    </body>
</html>
